<div
  class="w-[500px] mx-auto text-[15px] text-gray-200 opacity-50 mt-[60px] mb-[60px]"
>
  <p>Hola 👋!, mi nombre es Angel Nieto o tambien conocido como Nieto.</p>
  <p>
    Soy un Developer de FrontEnd y actualmente estoy trabajando como FreeLance
    para proyectos Full-Stacks, Sobre Apps de Desktops, Web y demas..
  </p>
  <p>Sí quieres contactarme eres ¡Bienvenid@!</p>
</div>
