<header class="sticky top-0 p-[10px] bg-[#171F26] w-[100%] z-20">
  <nav>
    <ul>
      <div>
        <li>
          <a href="/" class="text-2xl font-semibold text-[#14A1F0]">nieto.dev</a
          >
        </li>
      </div>
      <div></div>
    </ul>
  </nav>
</header>
