---
import Cards from "./elements/Cards.astro";
---

<div class="mt-[20px]">
  <h1 class="text-3xl font-semibold">Formas de Contacto!</h1>
  <div>
    <Cards
      title="Gmail"
      description="angelnieto@gmail.com"
      icon="../../public/icons/MailIcon.svg"
      href="mailto:angelnieto@gmail.com"
      AltIcons="Mail Icono"
    />
    <Cards
      title="Twitter"
      description="@AngelNieto"
      icon="../../public/icons/Twitter.svg"
      href="twitter.com"
      AltIcons="Twitter Icono"
    />
  </div>
</div>
